/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */

html, body {
  font-family: "Noto Serif", serif ;
  font-size: 18px;
  line-height: 1.6;
  color: #ededed;
  background-color: #171717 !important;
  /* mobile viewport fix */
  padding: 0;
  margin: 0;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}
iframe{
  height: 100% !important;
  width: 100% !important;
}
body {
  overflow-x: hidden;
}
.container {
    width: 100% !important;
}

.main-site-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

a {
  color: #ededed !important;
}

.menu {
  color: #da0037 !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ffffff;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;

    box-shadow: 0 1px 0px 0 #ffffff;
}



h3{
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #ededed;
}

p {
  color: #ededed;
}

.material-icons{
  color: #fff;
  font-size: 24px ;
}
.title {
  line-height: 0.9 !important;
  font-size: 15vw !important;
  font-family: "Oswald", sans-serif;
}

.sub-title {
  margin-top: 15vh;
  font-size: 3rem;
  text-align: right;
  color: #da0037;
  font-family: "Oswald", sans-serif;
}
.btn-large {
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
    width: 100%;
    background-color: #ffffff;
    color: #171717 !important;
  }
  
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #c4c4c4e5;
    color: #171717;
    text-decoration: none;
}
.heading {
    overflow: hidden;
    border-bottom: 4px solid #da0037;
    position: relative;
    z-index: 10;
}
.section-heading {
  padding-top: 15vh;
  padding-bottom: 8vh;
  text-align: center;
  color: #ededed;
}

#soft-title {
  text-align: left;
  padding-left: 13%;
}

.list-text {
  color: #ededed;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 14px;
}
#skill{
  /* position: relative; */
}

.skills {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
}
.skills:hover {
   box-shadow: -2px -3px 20px #ff000070;
}

/* Navbar settings */
nav {
  background-color: transparent !important;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

nav ul li a {
  color: #ededed;
  font-size: 1.3em;
}

#nav-wrapper {
  overflow: hidden;
  z-index: 4;
}

#nav-mobile a:hover, #nav-mobile  a:focus {
  color:  #565656 !important;
}

/* Mobile Navbar settings */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(24, 24, 24, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ededed;
  display: block;
  transition: 0.3s;
  font-size: 1.3em;
}

.overlay a:hover, .overlay a:focus {
  color: #565656;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#side-nav {
  display: none;
  text-align: center;
  /* margin-top: -30vh; */
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}

#about-info {
  text-align: left;
  padding: 30px;
  background-color: #565656;
  border-radius: 5px;
}
#about img {
    height: 80%;
    width: 80%;
    border-radius: 20px;
}
#about .row {
    display: flex;
    align-items: center;
    
}
#about h2 {
   color: #da0037;
}
#image-info {
  padding-left: 20px;
  padding-top: 20px;
}

#owen-pic {
  height: 30vh;
  border-radius: 5px;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color:  rgba(24, 24, 24, 0.9);
  margin: 5px 10px 10px 5px;
  clear: both;
}

#owen-pic-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: solid;
  border-width: 2px;
  border-color:  rgba(24, 24, 24, 0.9);
  margin-bottom: 20px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#myVideo source{
    width: 100%;
}
#contact {
  background-image: linear-gradient(#171717, #565656);
  margin-top: 200px;
}

#contact-title {
  margin-top: -100px; 
}
.contact-content{
  margin-top: 100px;
}
.contact-content a {
  color: #ededed;
}
.wave form{
  margin: 0 auto;
}
.contact-content a:hover,
.contact-content a:focus {
  color: #da0037 !important;
  text-decoration: underline;
  font-size: 1.1em;
}

.page-footer {
  text-align: center;
  padding-top: 20px !important;
  margin-bottom: 20px;
  background-color: transparent !important;
  z-index: 100;
  height: 60px;
}

#c-right {
  margin-top: -100px;
}

/* animated arrow down */
.wrap-around {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-50%);
  color:#da0037 !important;
}
.wrap-around i{
    color:#da0037 !important;
}
.wrap-around a, #contact-me{
 text-align: center !important;
  color:#da0037 !important;
}

/* Diagnol line on contact panel */
.wave {
  background-color: #171717;
}

.wave svg {
  display: block;
}

.wave.upper {
  background-color: #565656;
  padding-bottom: 0;
}

.skill-icons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.skill-icons img{
  width: 100px;

}
/* grayscale youtube videos */
/* iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 5px;
  padding-bottom: 5px;
} */


.progress {
  background: #fff;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 5s normal forwards infinite;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #da0037;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 90%; }
}
.page-footer a:hover{
  color: #da0037 !important;
}